@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* --------- START NAVBAR CSS -------- */
.top-navbar {
    background-color: transparent;
    padding: 15px 0;
}
.navbar-light .navbar-brand {
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link{ 
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:#fff !important;
    margin: 0 15px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #BABABC  !important;
}
.navbar-light .navbar-nav .nav-link.active{
    color: rgb(255, 255, 255) !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background: #2B2853  !important;
    padding: 0;
    margin: -1px 0 0;
    overflow: hidden;
}
.dropdown-item {
    color: #fff !important;
    padding: 5px 25px;
}
.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: #fff;
    color: #2b2843  !important;
    transform: translateX(5px);
    transition: .5s;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.container-bg{
    background-image: url(https://images.squarespace-cdn.com/content/v1/56a9351025981d99e9c58d6e/1512680547846-V9NSQAFH8CNTD1BYMFWH/MKTriangleFinal-113.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}

/*
================== RESPONSIVE ==================
*/
@media (max-width: 768px) {

   .navbar-light .navbar-toggler {
    background: #fff !important;
    }
   
}
@media (max-width: 992px) {

   .navbar-light .navbar-toggler {
    background: #fff !important;
    }
    
}

@font-face {
    font-family: M1;
    src: url(./Rough\ Battle.ttf);
}
@font-face {
    font-family: M2;
    src: url(./Fonts/New\ Machiato.otf);
}

/* TEXT START */

.txt-start{
    text-align: center;
    padding: 200px;
}

.shde{font-family: M1}

.txt-start h1{

    color: white;
    
    font-size: 120px;
}
.txt-start p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px 200px 0px 200px;
}
.btn-start{
    border-radius: 9px;
    background-color: white;
    padding: 5px 30px 5px 30px;
    transition: 0.3s;
    border: none;
}

.btn-start:hover{background-color: brown;
color: white;}

/* BENIFITS */
.Benifits{display: flex;
padding-bottom: 80px;}
.b1{
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 2px solid white;
    color: white;
    padding: 1px 3px 0px 60px;}
#b1-con{
    color: white;
    font-size: 60px;
}

/* PRODUCTS STARTS HERE*/
.prdSTRIPE{
    background-image: url(./IMGS/MKTriangleFinal-171.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
padding-top: 100px;}



.prdcSTRIPE2{
padding-top: 130px;
padding-bottom: 50px;}
.inFTR{
    font-size: 89px;
    text-align: center;
    color: white;
position: relative;
top: 35px;}
.bg-PRDC{
    text-align: center;
    font-size: 155px;
    position: absolute;
    right: 0;
    left: 0;
    font-family: M1;
    letter-spacing: 40px;
    color: #ffffff1f;
}
.bg-PRD{
    text-align: center;
    font-size: 155px;
    position: absolute;
    right: 0;
    left: 0;
    font-family: M1;
    letter-spacing: 40px;
    color: #ffffff1f;
    
}
.bg-PRDD{text-align: center;
    font-size: 127px;
    position: absolute;
    top: 443%;
    right: 0px;
    left: 0;
    font-family: M1;
    letter-spacing: 40px;
    color: #ffffff1f;}



.inPRDC{ font-size: 29px;
    text-align: center;
    color: white;
position: relative;
letter-spacing: 20px;
top: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CARDS */
.cardsMAIN{
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-top: 130px;
}
.cardALLIGN{display: flex;
justify-content: space-around; gap: 50px;}
.cardALLIGN2{display: flex;
    justify-content: space-around; gap: 50px;}

.imgBOX{width: 260px; position: relative; transition: transform 0.3s ease;
}
.imgBOX img{width: 100%;
height: 100%;
border-radius: 20px;}

.desc{
    text-align: center;
    padding-top: 19px;
    color: white;}
.desc p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.cart{
    position: absolute;
    width: 200px;
    top: 126px;
    right: 40px;
    opacity: 0;
    transition: 0.3s;}
.card1:hover .cart{opacity: 1;}
  .card1:hover .imgBOX {
    transform: scale(1.05); /* Scale the imgBOX element by 5% on hover */
  }
  
/*Best Sellers */

.cardsMAIN2{display: flex;
justify-content: center;}

.cardsMAINALLIGN{display: flex; gap: 20px;}
.imgBBOXM{width: 450px; transition: 0.3s;}
.imgBBOXM img{width: 100%;}

.imgBBOXM:hover{scale: 1.1;}

.cardB2 {
    transition: margin-left 0.3s ease; /* Add transition for smooth movement */
}

.cardB1:hover + .cardsALLIGNCOLUMN .cardB2,
.cardB1:hover .cardB2 {
    margin-left: 20px; /* Adjust the amount you want to move the cards */
}


.imgBBOX {width: 230px; transition: 0.3s;}
.imgBBOX:hover{scale: 1.1;}
.imgBBOX img{width: 100%;}

.cardMAINALLIGN2{display: flex; gap: 30px;}
.cardMAINALLIGN3{display: flex; gap: 30px;}
.cardsALLIGNCOLUMN{display: flex; flex-direction: column;}

.descB{
    padding-top: 30px;
     color: white; text-align: center;
     font-size: 30px;}
.descB p{ 
color: white;
}

/* VIEW BTN */

.viewall{ text-align: center;}
.viewall button{ border-radius: 10px;
padding: 10px 20px 10px 20px;
transition: 0.3s;
border: none;
font-size: 25px;}
.viewall button:hover{background-color: brown;;
color: white; border: 1px solid white; letter-spacing: 5px;}

/* VIDEO */
.bg-PRDC2{
    text-align: center;
    font-size: 155px;
    position: absolute;
    right: 35%;
    font-family: M1;
    letter-spacing: 30px;
    color: #c8414138;}
.inPRDC2{ font-size: 29px;
    text-align: center;
    color: white;
position: relative;
letter-spacing: 20px;
top: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.video-box{width: 1500px;}
.video-box video{width: 100%;}
.videoMAIN{display: flex;
justify-content: center;}

/* FOOTER */
.footer-main{ 
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
color: white;}
.img-footer{width: 300px; text-align: center;}
.img-footer img{width: 100%;}

.footer-text{display: flex; justify-content: center; gap: 50px;}
.footer-logos i{border-right: 2px solid white;
    padding-right: 30px;}
.footer-logos{display: flex; justify-content: center; gap: 50px; font-size: 25px; padding-top: 20px;}

.line{
    width: 100%;
    border: none;
    height: 1px; 
    background-color: white;
}

.copy{text-align: center;
color: white; letter-spacing: 2px;
font-size: 12px;
padding-top: 30px;}




/* FOR DESKTOP PC */
@media (max-width: 1024px){
    
.txt-start{
        text-align: center;
        padding: 146px;}
.b1{
        display: flex;
        align-items: center;
        gap: 13px;
        border-right: 2px solid white;
        color: white;
        padding: 0px 3px 0px 13px;}
#b1-con{font-size: 40px;}
.imgBOX{ width: 210px;}
.cart{top: 83px;
right: 7px;}
.imgBBOXM{width: 350px;}
.cardsMAIN2{display: flex;
    justify-content: flex-start;
}
.imgBBOX{
    width: 160px;
}
.bg-PRDC{
    text-align: center;
    font-size: 127px;
    position: absolute;
    top: 224%;
    right: 0;
    left: 0;
    font-family: M1;
    letter-spacing: 40px;
    color: #ffffff1f;}
.bg-PRD{
    text-align: center;
    font-size: 127px;
    position: absolute;
    top: 365%;
    right: 0;
    left: 0;
    font-family: M1;
    letter-spacing: 40px;
    color: #ffffff1f;}
.bg-PRDD{text-align: center;
    font-size: 127px;
    position: absolute;
    top: 554%;
    right: 0px;
    left: 0;
    font-family: M1;
    letter-spacing: 40px;
    color: #ffffff1f;}


}


/* FOR TABLETS */


@media (min-width: 820px) and (max-width: 1020px){



    .Benifits{
        flex-direction: column;
    }
    .cardsMAIN{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px;
        padding-top: 130px;}
        .txt-start{
            text-align: center;
            padding: 48px;}
    
    .cardsMAINALLIGN{
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
        
    .cardsMAIN2{
        
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    
    .bg-PRDC{
        
        text-align: center;
        font-size: 112px;
        position: absolute;
        top: 234%;
        right: 0;
        left: 5%;
        font-family: M1;
        letter-spacing: 40px;
        color: #ffffff1f;
    }
    
    .bg-PRDD{
            text-align: center;
            font-size: 121px;
            position: absolute;
            top: 386%;
            right: 0px;
            left: 47px;
            font-family: M1;
            letter-spacing: 40px;
            color: #ffffff1f;
    }
    
    .bg-PRD{
        
        text-align: center;
        font-size: 112px;
        position: absolute;
        top: 123%;
        right: 0;
        left: 5%;
        font-family: M1;
        letter-spacing: 40px;
        color: #ffffff1f;
    }
    
    #b1-con{
        font-size: 38px;
    }
    
    
    }

/* FOR MOBILE */

@media (min-width: 372px) and (max-width: 673px)  {

    .txt-start{
        text-align: center;
        padding: 0;
        
    }
    
    .shde{font-family: M1}
    
    .txt-start h1{
        font-size: 40px;
    
        color: white;
        
       
    }
    .txt-start p{
        font-size: 13px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 38px 51px 10px 51px;
    }
    .btn-start{
        border-radius: 9px;
        background-color: white;
        padding: 5px 30px 5px 30px;
        transition: 0.3s;
        border: none;
    }
    
    .btn-start:hover{background-color: brown;
    color: white;}
    
    /* BENIFITS */
    .Benifits{
        display: flex;
        padding-bottom: 26px;
        flex-direction: column;}

    .b1{
        display: flex;
        align-items: center;
        gap: 14px;
        border-right: none;
        border-bottom: 2px solid white;
        color: white;
        padding: 54px 3px 20px 11px;
        flex-direction: row;}

    #b1-con{
        color: white;
        font-size: 55px;
    }
    
    /* PRODUCTS STARTS HERE*/
    .prdSTRIPE{
        background-image: url(./IMGS/MKTriangleFinal-171.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        padding-top: 84px;}
    
    
    
    .prdcSTRIPE2{
    padding-top: 130px;
    padding-bottom: 50px;}
    .inFTR{
        font-size: 57px;
        text-align: center;
        color: white;
        position: relative;
        top: 35px;}
    .bg-PRDC{
        text-align: center;
        font-size: 56px;
        position: absolute;
        top: 225%;
        right: 0;
        left: 0;
        font-family: M1;
        letter-spacing: 18px;
        color: #ffffff1f;
    }
    .bg-PRD{
        text-align: center;
        font-size: 56px;
        position: absolute;
        top: 604%;
        right: 0;
        left: 0;
        font-family: M1;
        letter-spacing: 18px;
        color: #ffffff1f;
        
    }
    .bg-PRDD{
        text-align: center;
        font-size: 85px;
        position: absolute;
        top: 1031%;
        right: 5px;
        left: 48px;
        font-family: M1;
        letter-spacing: 40px;
        color: #ffffff1f;}
    
    
    
    .inPRDC{
        font-size: 29px;
        text-align: center;
        color: white;
        position: relative;
        letter-spacing: 20px;
        top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    /* CARDS */
    .cardsMAIN{
        display: flex;
        justify-content: center;
        gap: 45px;
        padding-top: 130px;
        flex-direction: column;
    }
    .cardALLIGN{
        display: flex;
        justify-content: space-around;
        gap: 50px;
        flex-direction: column;}
    
    .cardALLIGN2{
        display: flex;
        justify-content: space-around;
        gap: 50px;
        flex-direction: column;}
    
    .imgBOX{
        width: 334px;
        position: relative;
        transition: transform 0.3s ease;
    }
    .imgBOX img{
        width: 84%;
        height: 100%;
        border-radius: 20px;}
    
    .desc{
        /* text-align: center; */
        padding-top: 19px;
        color: white;}
    
    .desc p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    
    .cart{
        
        position: absolute;
        width: 200px;
        top: 149px;
        right: 69px;
        opacity: 0;
        transition: 0.3s;}
    
        .card1 {
            display: flex;
            flex-direction: column;
            text-align: center;}
    
    .card1:hover .cart{opacity: 1;}
      .card1:hover .imgBOX {
        transform: scale(1.05); /* Scale the imgBOX element by 5% on hover */
      }
      
    /*Best Sellers */
    
    .cardsMAIN2{
        display: flex;
        justify-content: center;
        flex-direction: column;}
    
    .cardsMAINALLIGN{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    
    .imgBBOXM{
        width: 339px;
        transition: 0.3s;}
    
    .imgBBOXM img{width: 60%;}
    
    .imgBBOXM:hover{scale: 1.1;}
    
    .cardB2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardB1{
        text-align: center;}
    
    .cardB1:hover + .cardsALLIGNCOLUMN .cardB2,
    .cardB1:hover .cardB2 {
        margin-left: 20px; 
    }
    
    
    .imgBBOX {width: 129px; transition: 0.3s;}
    .imgBBOX:hover{scale: 1.1;}
    .imgBBOX img{width: 118%;}
    
    .cardMAINALLIGN2{
        display: flex;
        gap: 19px;
        flex-direction: column;}
    
    .cardMAINALLIGN3{
        display: flex;
        gap: 30px;
        flex-direction: column;}
    .cardsALLIGNCOLUMN{display: flex; flex-direction: column;}
    
    .descB{
        padding-top: 30px;
        color: white;
        text-align: center;
        font-size: 20px;}
    .descB p{ 
    color: white;
    }
    
    /* VIEW BTN */
    
    .viewall{ text-align: center;}
    .viewall button{ border-radius: 10px;
    padding: 10px 20px 10px 20px;
    transition: 0.3s;
    border: none;
    font-size: 25px;}
    .viewall button:hover{background-color: brown;;
    color: white; border: 1px solid white; letter-spacing: 5px;}
    
    /* VIDEO */
    .bg-PRDC2{
        text-align: center;
        font-size: 155px;
        position: absolute;
        right: 35%;
        font-family: M1;
        letter-spacing: 30px;
        color: #c8414138;}
    .inPRDC2{ 
        font-size: 29px;
        text-align: center;
        color: white;
        position: relative;
        letter-spacing: 20px;
        top: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    
    .video-box{width: 1500px;}
    .video-box video{width: 100%;}
    .videoMAIN{
        display: flex;
        justify-content: center;}
    
    /* FOOTER */
    .footer-main{ 
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;}
        
    .img-footer{width: 300px; text-align: center;}
    .img-footer img{width: 100%;}
    
    .footer-text{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-direction: column;}

    .footer-logos i{border-right: 0px solid white;
        padding-right: 0px; border-bottom: solid;
        padding-bottom: 30px;}

    .footer-logos{
        display: flex;
        justify-content: center;
        gap: 50px;
        font-size: 25px;
        padding-top: 20px;
        flex-direction: column;}
    
    .line{
        width: 100%;
        border: none;
        height: 1px; 
        background-color: white;
    }
    
    .copy{
        text-align: center;
        color: white;
        letter-spacing: 2px;
        font-size: 10px;
        padding-top: 30px;}
    

}



/* For Smaller Screens */

@media (max-width: 320px){

    .txt-start{
        text-align: center;
        padding: 0;
        
    }
    
    .shde{font-family: M1}
    
    .txt-start h1{
        font-size: 40px;
    
        color: white;
        
       
    }

    
    .txt-start p{
        font-size: 13px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 38px 51px 10px 51px;
    }
    .btn-start{
        border-radius: 9px;
        background-color: white;
        padding: 5px 30px 5px 30px;
        transition: 0.3s;
        border: none;
    }
    
    .btn-start:hover{background-color: brown;
    color: white;}
    
    /* BENIFITS */
    .Benifits{
        display: flex;
        padding-bottom: 26px;
        flex-direction: column;}

    .b1{
        display: flex;
        align-items: center;
        gap: 14px;
        border-right: none;
        border-bottom: 2px solid white;
        color: white;
        padding: 54px 3px 20px 11px;
        flex-direction: row;}

    #b1-con{
        color: white;
        font-size: 45px;
    }
    
    /* PRODUCTS STARTS HERE*/
    .prdSTRIPE{
        background-image: url(./IMGS/MKTriangleFinal-171.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        padding-top: 84px;}
    
    
    
    .prdcSTRIPE2{
    padding-top: 130px;
    padding-bottom: 50px;}
    .inFTR{
        font-size: 50px;
        text-align: center;
        color: white;
        position: relative;
        top: 35px;}
    .bg-PRDC{
        text-align: center;
        font-size: 45px;
        position: absolute;
        top: 153%;
        right: 0;
        left: 0;
        font-family: M1;
        letter-spacing: 18px;
        color: #ffffff1f;
    }
    .bg-PRD{
        
        text-align: center;
        font-size: 45px;
        position: absolute;
        top: 381%;
        right: 0px;
        left: 0px;
        font-family: M1;
        letter-spacing: 18px;
        color: #ffffff1f;
        
    }
    .bg-PRDD{
        text-align: center;
        font-size: 54px;
        position: absolute;
        top: 715%;
        right: 5px;
        left: 48px;
        font-family: M1;
        letter-spacing: 40p}
    
    
    
    .inPRDC{
        font-size: 29px;
        text-align: center;
        color: white;
        position: relative;
        letter-spacing: 20px;
        top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    /* CARDS */
    .cardsMAIN{
        display: flex;
        justify-content: center;
        gap: 45px;
        padding-top: 130px;
        flex-direction: column;
    }
    .cardALLIGN{
        display: flex;
        justify-content: space-around;
        gap: 50px;
        flex-direction: column;}
    
    .cardALLIGN2{
        display: flex;
        justify-content: space-around;
        gap: 50px;
        flex-direction: column;}
    
    .imgBOX{
        width: 290px;
        position: relative;
        transition: transform 0.3s ease;
    }
    .imgBOX img{
        width: 58%;
        height: 100%;
        border-radius: 20px;}
    
    .desc{
        /* text-align: center; */
        padding-top: 19px;
        color: white;}
    
    .desc p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    
    .cart{
        position: absolute;
        width: 200px;
        top: 83px;
        right: 40px;
        opacity: 0;
        transition: 0.3s;}
    
        .card1 {
            display: flex;
            flex-direction: column;
            text-align: center;}
    
    .card1:hover .cart{opacity: 1;}
      .card1:hover .imgBOX {
        transform: scale(1.05); /* Scale the imgBOX element by 5% on hover */
      }
      
    /*Best Sellers */
    
    .cardsMAIN2{
        display: flex;
        justify-content: center;
        flex-direction: column;}
    
    .cardsMAINALLIGN{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    
    .beni-txt h3{ font-size: 18px;}
    .beni-txt p{ font-size: 10px;}

    .imgBBOXM{
        width: 280px;
        transition: 0.3s;}
    
    .imgBBOXM img{width: 60%;}
    
    .imgBBOXM:hover{scale: 1.1;}
    
    .cardB2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardB1{
        text-align: center;}
    
    .cardB1:hover + .cardsALLIGNCOLUMN .cardB2,
    .cardB1:hover .cardB2 {
        margin-left: 20px; 
    }
    
    
    .imgBBOX {width: 129px; transition: 0.3s;}
    .imgBBOX:hover{scale: 1.1;}
    .imgBBOX img{width: 118%;}
    
    .cardMAINALLIGN2{
        display: flex;
        gap: 19px;
        flex-direction: column;}
    
    .cardMAINALLIGN3{
        display: flex;
        gap: 30px;
        flex-direction: column;}
    .cardsALLIGNCOLUMN{display: flex; flex-direction: column;}
    
    .descB{
        padding-top: 30px;
        color: white;
        text-align: center;
        font-size: 20px;}
    .descB p{ 
    color: white;
    }
    
    /* VIEW BTN */
    
    .viewall{ text-align: center;}
    .viewall button{ border-radius: 10px;
    padding: 10px 20px 10px 20px;
    transition: 0.3s;
    border: none;
    font-size: 25px;}
    .viewall button:hover{background-color: brown;;
    color: white; border: 1px solid white; letter-spacing: 5px;}
    
    /* VIDEO */
    .bg-PRDC2{
        text-align: center;
        font-size: 155px;
        position: absolute;
        right: 35%;
        font-family: M1;
        letter-spacing: 30px;
        color: #c8414138;}
    .inPRDC2{ 
        font-size: 29px;
        text-align: center;
        color: white;
        position: relative;
        letter-spacing: 20px;
        top: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    
    .video-box{width: 1500px;}
    .video-box video{width: 100%;}
    .videoMAIN{
        display: flex;
        justify-content: center;}
    
    /* FOOTER */
    .footer-main{ 
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;}
        
    .img-footer{width: 300px; text-align: center;}
    .img-footer img{width: 100%;}
    
    .footer-text{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-direction: column;}

    .footer-logos i{border-right: 0px solid white;
        padding-right: 0px; border-bottom: solid;
        padding-bottom: 30px;}

    .footer-logos{
        display: flex;
        justify-content: center;
        gap: 50px;
        font-size: 25px;
        padding-top: 20px;
        flex-direction: column;}
    
    .line{
        width: 100%;
        border: none;
        height: 1px; 
        background-color: white;
    }
    
    .copy{
        text-align: center;
        color: white;
        letter-spacing: 2px;
        font-size: 10px;
        padding-top: 30px;}
    

}

@media (min-width: 430px) and (max-width: 480px){


    .cart{
        
        position: absolute;
        width: 200px;
        top: 126px;
        right: 69px;
        opacity: 0;
        transition: 0.3s;
    }

    .card1{align-items: center;}

    .imgBOX img{
        width: 66%;
    }
    .bg-PRDC{
        top: 150%;
    }
    
    .imgBBOXM {
        width: 385px;
    }
    .bg-PRD{
        top: 387%;
    }
    .bg-PRDD{
        top: 696%;
    }
}
